.item_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.item_list>li{
    text-align: center;
    margin-top: 1rem;
    margin-right: 1.5rem;
}
.items_header{
    display: flex;
    justify-content: space-between;
}
.items_header>h2{
    margin-left: 4.5rem;
    letter-spacing: 1px;
    user-select: none;
}
.searchbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6rem;
    margin-bottom: 2rem;
}
.searchbox>div {
    margin-left: 1rem;
}
.ant-pagination {
    margin-top: 1rem !important;
    text-align: center;
}
.prod_not_found{
    margin-top: 2rem;
    user-select: none;
    text-transform: uppercase;
}